# App
PORT=8000

# App DB config (USED BY GO APP)
DB_HOST=db
DB_PORT=5432
DB_NAME=fluxfeed_dev
DB_USER=fluxfeed_user
DB_PASSWORD=fluxfeed_password

DATABASE_URL=postgres://fluxfeed_user:fluxfeed_password@db:5432/fluxfeed_dev?sslmode=disable
API_TOKEN=